<?php
/**
 *  Локальная замена конфигураций для РЕЖИМА РАЗРАБОТКИ (DEVELOPMENT MODE).
 *
 * Этот заместитель конфигураций существует для указания параметров при разработке
 * Запустите:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * из под корня проекта, чтобы скопировать этот файл в development.local.php и включить его
 * конфигурации.
 *
 * Возможно, ещё придётся создать файлы в виде `{,*.}{global,local}-development.php`.
 */

return [
    'view_manager' => [
        'display_exceptions' => true,
    ],
];
